[Desktop Entry]
Name=YATKA
Comment=Yet Another Tetris Klone in Action
Exec=yatka-gcw0
Terminal=false
Type=Game
StartupNotify=true
Icon=icon
Categories=games;
Version=20220421
X-OD-Manual=README.md
